@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to top, #7303327a, #730331);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-size: 330%;
        background-position: left;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #7303327a, #730331);
    }

    section#login {
        width: 900px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        background-size: 150%;
        background-position: center center;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}